
#new_category_box {
    width: 50%;
}

.new_term_box {
    width : 50%;
}

.thumbnail {        
    height: 125px;
    overflow: auto;
}


body { 
    background-size: cover;
    background-position: center center;
    background-image: url(tshirt_background_blur.png);
}

.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 0;
    color: rgb(84,84,84);
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: rgb(0,178,51);
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

#title-box {
    /*background-color: red;*/
    background: rgba(255, 255, 240, .75);
    margin: 200px auto;
    padding: 20px 20px;
}

#oauth {
    width : 200px;
    margin : 0;
    display: inline-block;
}

#shnerdy-main {
    font-family: 'Delius Unicase', cursive;
    font-size: 500%;
}

#shnerdy-main-sub {
    font-family: 'Droid Sans', sans-serif;
}

#search-shnerdy {
    background-color: rgba(230, 230, 230, .9);
    text-align: left;
    margin: 10px;
}

#your-cat {
    background-color: rgba(230, 230, 230, .9);
    margin: 10px;
    text-align: left;
}

.form-control, .btn, .btn-link {
    text-align: left;
}

#new_category_box {
    margin-bottom: 5px;
}




















/*#index-page {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    border-top: 0;
    
}*/

