<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{% block title %} SHNERDY {% endblock %}</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    <!-- LOGOUT AND LINK OPTION DISPLAYED: ? -->
    {% if session['access_token'] %}
        <a href="/logout">Logout</a>
    {% endif %}

    {% if session['user'] %}
        <div id="user_page_link">
            <a href="/{{ session_user_id }}">Your Categories</a>
        </div>
    {% endif %}

    {% if session['user'] %}
        <div id="favorites_link">
            <a href="/favorites">Your Favorites</a>
        </div>
    {% endif %}
    <hr>

    <!-- FLASH MESSAGING -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- BODY CONTENT HERE -->
    <div class="container-fluid">
    {% block content %} 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        BODY CONTENT GOES HERE 
    {% endblock %}
    </div>
    
</body>
</html>