<!doctype html>
<html>
<head>
    <title>{% block title %} SHNERDY {% endblock %}</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    <!-- LOGOUT OPTION DISPLAYED: ? -->
    {% if session['access_token'] %}
        <a href="/logout">Logout</a>
    {% endif %}

    {% if session['user'] %}
        <div id="user_page_link">
            <a href="/{{ session_user_id }}">Your Categories</a>
        </div>
    {% endif %}
    <hr>

    <!-- FLASH MESSAGING -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- BODY CONTENT HERE -->
    {% block content %} BODY CONTENT GOES HERE {% endblock %}
    
</body>
</html>