{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<script type="text/javascript">
    
    $(document).ready(function() {
        $(".nav li").removeClass("active");
        $('#favorites_link').addClass('active');
        });

</script>

<div class="container-fluid">
<div class="row row-centered"></div>
<div class="col-xs-1"></div>
    <div id="favorites" class="col-xs-10">
            <h3>Your Favorites ({{ num_shirts }} shirts): </h3><br>

            <div class="row">
            {% for shirt in shirts %}
                <div class="col-xs-3">
                    <div id="fave-thumbnail" class="thumbnail">
                        <a href={{ shirt["url"] }} target="_blank"><img class="image-thumb" src={{ shirt["img"] }}></a>
                        <div class="caption">
                        <div class="row">
                            <div class="col-xs-6" id="price"><i class='ionicons ion-social-usd'></i>&nbsp;{{ shirt["price"] }}</div>
                            <div class="col-xs-6" id="link_div"><a id="link" href={{ shirt["url"] }} target="_blank"><i class='ionicons ion-link'></i>&nbsp;Link</a></div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

    </div>
<div class="col-xs-1"></div>
</div>
</div>

{% endblock %}