{% extends 'base.html' %}

{% block content %}

<div id=index-page class="container-fluid">
    <div class="row row-centered">
        <div class="col-xs-9 col-centered">
            <div id="title-box">

            <h1 id="shnerdy-main">SHNErDY</h1>

            <h3 id="shnerdy-main-sub">Shop shirts. Shop nerdy. Shop efficient.</h3>

            {% if access_token == None %}

                <br>
                <form action="/oauth" method="POST">
                   <button class="btn btn-block btn-social btn-google" type="submit" id="oauth" name="oauth">Login with Google</button>
                </form>

            {% endif %}

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        $(".nav li").removeClass("active");
        $('#shner-home').addClass('active');
        });

</script>

{% endblock %}

<!-- ***** OLD CODE (from before I was doing Google OAuth) ***** -->

<!-- IF USER IS NOT LOGGED IN, SHOW LOGIN FORM -->
<!-- LOGIN FORM -->
<!-- <form action="/login" id="login" method="POST">Login:<br>
    Username:<input type="text" id="username" name="username"><br>
    Password:<input type="password" id="password" name="password"><br>
    <input type="submit" id="login_submit" name="login" value="Login">
</form><br><br> -->

    <!-- The button for new user registration form (was under $('login_submit')) -->
    <!-- <input type="button" id="register_show" value="New to Shnerdy?"> -->

    <!-- Show/Hide register form on click event -->
    <!--<script type="text/javascript">
        function toggle_register_form(evt) {
            $('#register').toggle();
            console.dir(evt);
        }

        $('#register_show').on('click',toggle_register_form);
    </script>-->

    <!-- NEW USER REGISTRATION FORM -->
    <!--<form hidden action="/login" id="register" method="POST">New Users:<br>
        First Name: <input type="text" id="new_first_name" name="new_first_name"><br>
        Username: <input type="text" id="new_username" name="new_username"><br>
        Password: <input type="password" id="new_password" name="new_password"><br>
        <input type="submit" id=""register_submit" name="register_submit" value="Register">
    </form>-->

    <!-- FILLING IN FORM INFO TO ACCOUNT FOR THE BUTTON NOT PUSHED -->
    <!--<script type="text/javascript">
        
    function fill_unused_fields_login_submit(evt) {
        var new_first_name = $('#new_first_name').val("nerdy_shnerdy_admin");
        var new_username = $('#new_username').val("nerdy_shnerdy_admin");
        var new_password = $('#new_password').val("nerdy_shnerdy_admin");
        $('#login').submit();
        console.dir(evt);
    }

    function fill_unused_fields_register_submit(evt) {
        var username = $('#username').val("nerdy_shnerdy_admin");
        var password = $('#password').val("nerdy_shnerdy_admin");
        $('#register').submit()
        console.dir(evt);
    }

    $('#login_submit').on('click', fill_unused_fields_login_submit);
    $('#register_submit').on('click', fill_unused_fields_register_submit);

    </script>-->

