{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<div class="container-fluid">
<div id="shnum-row" class="row row-centered">

        <div class="col-xs-1"></div>
            <div id="shnummary_div" class="col-xs-3">
                <h4>Snearch Summary:</h4><hr>

                <ul class='list-unstyled'>
                {% for term in search_terms %}
                    {% if curr_search_dict[term]['total_count'] != 0 %}
                        <li><i class='ionicons ion-tshirt'></i> {{ term }} ({{ curr_search_dict[term]['total_count'] }} shirts)</li>
                    {% endif %}
                {% endfor %}
                </ul>

                <p><strong>{{ result_sum }} Total Shirts</strong></p>
            </div>
        <div class="col-xs-1"></div>
            <div id='snearch_results_div' class="col-xs-6">
                <h3>Snearch Results:</h3>

                <p>You found this shirt by searching: 
                    '<label id="user_search_term"><strong>User search term placeholder</strong></label>'</p>
                        <div id="duplicate" class="alert alert-warning" hidden>Duplicate notice</div>
                        <img id="image" src="http://i.imgur.com/ly4VZeN.gif"><br><br>
                        <button type="button" id="yay_shirt" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                        <button type="button" id="nay_shirt" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></button>
                        <button type="button" id="next" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                        <div class="row">
                            <div class="col-xs-6" id="price"><i class='ionicons ion-social-usd'>PRICE</i></div>
                            <div class="col-xs-6" id="link_div"><a id="link" href="http://http://www.kittenwar.com/" target="_blank"><i class='ionicons ion-link'></i>&nbsp;Shirt Link</a></div>
                        </div>
                        <li id="etsy_id" hidden>Etsy ID Placeholder</li>
            </div>
        <div class="col-xs-1"></div>

</div>
</div>

<script type="text/javascript">

    var currSearchDict = {{ curr_search_dict|tojson }};
    var allSearchTerms = Object.keys(currSearchDict);
    var dupeDict = {}

    var nonZeroSearchTerms = [];
    function addSearchTerms(allSearchTerms) {
        for (var i = 0; i < allSearchTerms.length; i++) {
            if (currSearchDict[allSearchTerms[i]]['total_count'] !== 0) {
                nonZeroSearchTerms.push(allSearchTerms[i]);
            }
        }
    }
    addSearchTerms(allSearchTerms);

    var currSearchTerm;
    function termCycle() {
        // Cycle through the nonZeroSearchTerms to get the next currSearchTerm
        if (currSearchTerm === undefined) {
            currSearchTerm = nonZeroSearchTerms[0];
            return currSearchTerm;
        }
        else {
            var index = nonZeroSearchTerms.indexOf(currSearchTerm);
            if (index === nonZeroSearchTerms.length - 1) {
                index = -1;
            }
            currSearchTerm = nonZeroSearchTerms[index + 1];
            return currSearchTerm;
        }
    }

    function youGotShirts(results) {
        var term = Object.keys(results);
        currSearchDict[term]['API_requests'] = results[term]['API_requests'];
        currSearchDict[term]['num_avail_shirts'] = results[term]['num_avail_shirts'];
        for (var i = 0; i < results[term]['items'].length; i++) {
            currSearchDict[term]['items'].push(results[term]['items'][i]);
        }
    }

    function is_duplicate(results) {
        if (results['dupe'] === "False") {
            dupeDict = results["dupeDict"]
            console.log(dupeDict)
            return
        }
        dupeDict = results["dupeDict"]
        console.log(dupeDict)
        $('#duplicate').show();
        $('#duplicate').html("This shirt is a duplicate. It came up in the searches for: " + results["dupe_results"].term + ".");
    }

    function getAShirt() {
        
        // Last Shirt Logic
        if (nonZeroSearchTerms.length === 0) {
            alert("No more shirts!  Please go back to your categories and Snearch again.");
            return false;
        }

        // Standard Shirt Logic - get a new search term and grab a related shirt.
        $('#duplicate').hide();
        currSearchTerm = termCycle();
        var currTerm = currSearchDict[currSearchTerm]
        var currShirt = currTerm['items'].pop();
        currTerm['countdown'] -= 1;
        currTerm['num_avail_shirts'] -= 1;
        console.log("getAShirt: ", currSearchTerm, currTerm['num_avail_shirts'], currTerm['countdown'])
        dupe_details = {etsy_id : currShirt['etsy_id'],
                        term : currShirt['user_search_term'],
                        dict_pass : JSON.stringify(dupeDict)};
        $.get('/check_dupes', dupe_details, is_duplicate)
        
        // Removing and empty search term from the list of option
        if (currTerm['countdown'] === 0) {
            var index = nonZeroSearchTerms.indexOf(currSearchTerm);
            alert("This is the last shirt related to your snearch for '" + currSearchTerm + "'!");
            nonZeroSearchTerms.splice(index, 1);
            currSearchTerm = undefined;
        }
        // If shirt count is low, make request to get more from the Etsy API
        if (currTerm['num_avail_shirts'] === 3 &&
            currTerm['API_requests']*10 < currTerm['total_count']) {
            var shirtDetails = {
                'total_count' : currTerm['total_count'],
                'countdown' : currTerm['countdown'],
                'num_avail_shirts' : currTerm['num_avail_shirts'],
                'API_requests' : currTerm['API_requests'],
                'term' : currShirt['user_search_term']
            };

            $.get("/request_more_shirts", shirtDetails, youGotShirts);
        }
        return currShirt;
    }

    function displayNewShirt(shirt_object) {
        var shirt_url = shirt_object['url'];
        var shirt_price = shirt_object['price'];
        var shirt_image_url = shirt_object['image_url'];
        var user_search_term = shirt_object['user_search_term'];
        var etsy_id = shirt_object['etsy_id']

        $('#image').attr('src', shirt_image_url);
        $('#price').html("<i class='ionicons ion-social-usd'>&nbsp;" + shirt_price + "</i>");
        $('#link').attr('href', shirt_url);
        $('#user_search_term').html(user_search_term);
        $('#etsy_id').html(etsy_id);
    }

    $(document).ready(function() {
        displayNewShirt(getAShirt());
        });
    $('#next').on('click', function(evt) {
        displayNewShirt(getAShirt());
    });

    function shirtAdded() {
        console.log("Shirt details saved to Shnerdbase.")
    }

    function yayShirt(evt) {
        var thingTheyClickedOn = $(evt.currentTarget);
        var listOfInputs = thingTheyClickedOn.siblings();
        var img = listOfInputs[3]['src'];
        var etsy_id = listOfInputs[9]['innerHTML'];
        var url = listOfInputs[8].children[1].children[0].href;
        var price = listOfInputs[8].children[0].children[0].innerHTML;
        price = price.slice(6)
        
        shirtData = {
            'img' : img,
            'price' : price,
            'url' : url,
            'etsy_id' : etsy_id}

        $.post('/yay_shirt', shirtData, shirtAdded);

        displayNewShirt(getAShirt());
        console.dir(evt);
    }

    function nayShirt(evt) {
        var thingTheyClickedOn = $(evt.currentTarget);
        var listOfInputs = thingTheyClickedOn.siblings();
        var etsy_id = listOfInputs[9]['innerHTML'];

        shirtData = {'etsy_id' : etsy_id};

        $.post('nay_shirt', shirtData, shirtAdded);

        displayNewShirt(getAShirt());
        console.dir(evt);
    }

    $('#yay_shirt').on('click', yayShirt);
    $('#nay_shirt').on('click', nayShirt);

</script>


{% endblock %}



<!-- ********** DEAD CODE: **********

{% for term in search_terms %}
<li>{{ term }} ({{ session.curr_search[term]['count'] }} results)</li>
{% endfor %}

<p>Total search results: {{ session.result_count }}</p>

<h3>Snearch Results:</h3>

<div id=snearch_results_div>

<p>You found this shirt by searching: '<label id="user_search_term"><strong>User search term placeholder</strong></label>'</p>
    <img id="image" src="http://i.imgur.com/ly4VZeN.gif">
    <li id="price">PRICE</li>
    <li><a id="link" href="http://stackoverflow.com/questions/179713/how-to-change-the-href-for-a-hyperlink-using-jquery">Shirt Link</a></li>
    <input type="button" id="next" value="Next Shirt, Please!"></button>

</div><br><br>

<script type="text/javascript">

    function displayNewShirt(results) {
        var shirt_url = results.shirt_url;
        var shirt_price = results.shirt_price;
        var shirt_image_url = results.shirt_image_url;
        var user_search_term = results.user_search_term;

        $('#image').attr('src', shirt_image_url);
        $('#price').html(shirt_price);
        $('#link').attr('href', shirt_url);
        $('#user_search_term').html(user_search_term);
    }

    function requestNewShirt(evt) {
        $.post("/new_shirt_please", displayNewShirt);

        console.dir(evt)
    }
    
    $('#next').on('click', requestNewShirt);

    $(document).ready(function() {
        $.get("/shnerdy_scale_set", function(results) {
            console.log(results);
            $.post("/new_shirt_please", displayNewShirt);
        });
        
    });

</script>
 -->