{% extends 'base.html' %}

{% block content %}

<h1>Search Shnerdy!</h1>

{% if terms == [] %}
<p>Looks like you haven't created any searches yet. Add some below!</p>
{% endif %}

<form action='/add_terms' id="cat_add_form" method="POST">
    Category Name: <input type="text" id="category" name="category">
    <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
    <input type="submit" id="category_add" value="Add Category">
</form><br><br>

<div id="term_div">Your Categories:
    <form id="term_form">
        {% for term in terms %}
            <input type="radio">{{ term.term }}<br>
        {% endfor %}
    </form>
</div><br><br>


<script type="text/javascript">
    
    function makeCategoryInputElement(categoryName){
        // make a string of HTML
        return '<input type="radio">' + categoryName;
    }

    function showConfirmation(results) {
        alert(results["message"]);
        $('#category').val("");
        var someHtml = makeCategoryInputElement(results.category_name);
        $('#term_form').append(someHtml);
    }
    
    function submitCategory(evt) {
        evt.preventDefault();

        var formInputs = {
            "category" : $('#category').val(),
            "user_id" : $('#user_id').val()
        };

        $.post("/add_terms",
            formInputs,
            showConfirmation);

        console.dir(evt)
    }

    $('#cat_add_form').on('submit', submitCategory)
</script>

<div>
    <form action="/display_results" id="test_button">Get items from Etsy API
<input type="submit" id="etsy_submit" value="Testing">
</form>
</div>

{% endblock %}