{% extends 'base.html' %}

{% block content %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">
<div class="row row-centered">
<div id="listy" class="col-xs-6 col-centered">
    <h4>Select terms to search:</h4>

    <form action="/snearch_summary" method="POST">
        
        <div class="row">
        <div id="term-check" class="col-xs-12">
            {% for term in list_o_terms %}
            <input type="checkbox" name="search_term" value="{{ term }}" checked="checked">&nbsp;{{ term }}<br>
            {% endfor %}<br>
        </div>
        </div>

        <button type="submit" id="search_terms" name="search_terms" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">SNEARCH!</button>

    </form>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Snearching...</h4>
      </div>
      <div class="modal-body">
        <img src="http://66.media.tumblr.com/3c300b438575aef1bef76ca962aba3ae/tumblr_n5stgrcGIB1qzs2sko1_500.gif">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    function launchModal(evt) {
        $('#myModal').modal("show");
    }

    $('#search_terms').on('click', launchModal);
</script>

{% endblock %}